<div class="container">
  <h1>Understanding the <i>/csrfToken</i> route in Sails</h1>
  <h4>Source code available on <a href="">github.</a></h4>
  <p style="font-size: 21px; font-family: Helvetica Neue; font-weight: 200;">
    asdf</p>
  <b>To see the effect of each button, open your browser's console.</b>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary" style="outline: none" id="request-csrf-token-button">
        <span class="badge">1 </span>
        Request CSRF Token
      </button> 
    </div><!-- class="col-md-4" -->
  </div><!-- class="row" -->
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        This    
      </div> <!-- class="panel-body" -->
    </div> <!-- class="panel panel-default" -->
  </div> <!-- class="col-md-12" -->

  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary" style="outline: none" id="request-csrf-token-cors-button">
        <span class="badge">2 </span>
        Request CSRF Token from site with CORS enabled
      </button> 
    </div><!-- class="col-md-4" -->
  </div><!-- class="row" -->
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        This    
      </div> <!-- class="panel-body" -->
    </div> <!-- class="panel panel-default" -->
  </div> <!-- class="col-md-12" -->
</div>